.minhaNav{
  background-color: rgba(255, 255, 255, 0.746);
  box-shadow: 2px 2px 2px 2px rgba(0, 216, 249, 0.085);
}

.logotipo{
  width: 80px;
}


.links .a{
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(5, 116, 144);
}

.a .icone{
  font-size: 18px;
}