.parceirosContainer{
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
 
}

.parceiros{
    width: 100%;
    
}

.parceirosDescribe{
    font-size: 15px;
    text-align: center;
}

.imagemParceiros{
    width: 150px;
}
