.servicosContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 550px;
    background-image: linear-gradient(rgba(251, 251, 251, 0.526), rgba(255, 255, 255, 0.453)),url("../../assets/banner2.png");
    background-size: cover;
    background-repeat: no-repeat;
}

 .titulo{
   font-family:'Courier New', Courier, monospace;
    font-size: 35px;
    color: rgba(0, 0, 255, 0.595);
    font-weight: 800;
    

}
.servicos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    min-height: 500px;
}



.servicos section{
    margin: 10px;
    border: 3px dotted rgba(63, 9, 224, 0.404);
    border-radius: 13px;
    padding: 5px;



}


.imgCard{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    height: 100%;
}


.btnSaberMais{
    background-color: transparent !important;
    color: rgb(0, 0, 0) !important;
    font-weight: 600 !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

.btnSaberMais:hover{
    background-color: rgb(62, 62, 63) !important;
    border: none !important;
    color: white !important;
}
.servicos h3{
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



